.navbarLight {
    width: 100%;
    background-color: black;
  color: white;
  font-weight: 400;
  position: sticky;
}

.navbarDark {
    width: 100%;
    background-color: white;
  color: black;
  font-weight: 400;
  position: sticky;
}

.navbar__links__light {
    list-style-type: none;
    display: flex;
    gap: 30px;
    color: white;
}


.navbar__links__dark {
    list-style-type: none;
    display: flex;
    gap: 30px;
    color: black;;
}


.navbar__link__light {
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px
}


.navbar__link__dark {
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px
}

a {
    
}

h1 {
    font-weight: 400;
}